<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Form</title>
    </head>
    <body>
        <form method="POST">
            <label>
                Fullname:
                <input name="fullname" type="text" autofocus />
            </label>

            <label>
                Email:
                <input name="email" type="text" />
            </label>

            <label>
                Pick your Model:
                <input name="model" type="text" />
            </label>

            <input type="submit" value="Submit" />
        </form>
    </body>
</html>
